.leftMenu{
	padding:20px 5px;
}
.leftMenu a {
	display: block;
	*padding: 2px 5px;
}

.leftMenu ul {
	list-style-type: none;
	padding:0px !important;
}

/*
.active a {
	background: blue;
	color: white;
}
*/

.small-banners {
	margin: 1px 0 0 0;
	color: red;
}

.small-banners a {
 
}

.block-title {
	/*margin: 1px 0 9px 0;*/
	margin: 0px 50px 0 0;
	padding-left: 5px;
	padding-top:15px;
	border-bottom: 3px solid #045983;
	/*background: white url(bg.gif) repeat-x left top;
	text-align: center;*/
}
.block-title a{
	color: #065983;
	text-decoration: none;
	font-weight: bold;
	font-size:14pt;
}

.date {
	padding: 0px;
	font-size: 10pt;
	color:#3f8eb3;
}
.leftMenu ul li {
	text-align:left; 
	border:solid 1px #074e71; 
	background-color:#2c80a7; 
	background-image: -moz-linear-gradient(top, #2c80a7 0%, #075a84 100%); 
	background-image: -webkit-linear-gradient(top, #2c80a7 0%, #075a84 100%); 
	background-image: -o-linear-gradient(top, #2c80a7 0%, #075a84 100%); 
	background-image: -ms-linear-gradient(top, #2c80a7 0% ,#075a84 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c80a7', endColorstr='#075a84',GradientType=0 ); 
	background-image: linear-gradient(top, #2c80a7 0% ,#075a84 100%);   
	-webkit-box-shadow:2px 2px 3px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 2px 2px 3px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:2px 2px 3px #bababa, inset 0px 0px 1px #ffffff;
	margin-bottom: 10px;
}
.leftMenu ul li:hover {
	background-color:#5599b8; 
	background-image: -moz-linear-gradient(top, #5599b8 0%, #377a9c 100%); 
	background-image: -webkit-linear-gradient(top, #5599b8 0%, #377a9c 100%); 
	background-image: -o-linear-gradient(top, #5599b8 0%, #377a9c 100%); 
	background-image: -ms-linear-gradient(top, #5599b8 0% ,#377a9c 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5599b8', endColorstr='#377a9c',GradientType=0 ); 
	background-image: linear-gradient(top, #5599b8 0% ,#377a9c 100%);
}
.leftMenu ul li a {
    font-style: italic;
	font-size: 14pt;
	color: #FFFFFF;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
.leftMenu ul li a:hover {
}
.block-title-article {
	/*margin: 1px 0 9px 0;*/
	margin: 0px 50px 0 0;
	padding-left: 5px;
	padding-top:15px;
	border-bottom: 3px solid #7daac0;
	/*background: white url(bg.gif) repeat-x left top;
	text-align: center;*/
}
.block-title-article a{
	color: #065983;
	text-decoration: none;
	font-weight: bold;
	font-size:14pt;
}