#detail {
color: red;
}

html
{
	/* background-image: url(/css/images/background-MG.jpg);  Путь к фоновому рисунку
	background: #d8eefb; */
    background-position: left bottom; /* Положение фона */
    background-repeat: repeat; /* Повторяем фон по горизонтали */
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 11pt Arial,Helvetica,sans-serif;
	background: #F7FCFE;
	/*background:  #d8eefb url(/css/images/bg_clouds.png) repeat center top;*/
    /*background:  #d8eefb url(/css/images/body.png) repeat center top;*/
}

#page
{
	/*margin-top: 5px;
	margin-bottom: 5px;*/
	background: #F7FCFE;
	position: relative;
	/* box-shadow: 1px 11px 60px 1px #AFA8FA; 0px 1px 418px -65px blue; */
	 
}

#header
{
	margin: 0;
	padding: 0;
	background-image: url(/css/newimages/fon.png);
	background-repeat:repeat-x;
	height: 130px;
	/*background-image: url(/css/images/header-real.jpg); /* Путь к фоновому рисунку */
    /*background-position: left bottom; /* Положение фона */
    /*background-repeat: no-repeat; /* Повторяем фон по горизонтали */
    /*height: 184px;
    background-position: 1px -4px;*/
}

#header a{
 	text-decoration: none;
}

.slogan {
/*font-size: 8pt;*/
width:700px;
height:130px;
padding: 0 0 0 10px;
text-align: left;;
float:left;
}

.floatleft{
    float:left;
}
.floatright{
    float:right;
}

#centermenu {
background: #6AA2C7;
padding: 0px;
}
#centermenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
 
}
#centermenu ul li {
display: inline;
}
#centermenu ul li a
{
	color: white;
	background-color:transparent;
	font-size:12px;
	text-decoration:none;
	padding:5px 8px;
}
#centermenu ul li a:hover 
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

.leftMenu ul {
	padding: 0 0 28px 12px;
	margin: 0 auto;
	width:325px;
}

#mainmenu
{
	margin-bottom: 10px;
}

#mainmenu ul
{
	padding:0px;
	margin:0px;
	text-align: left;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	font-size: 14px;
	text-decoration: none;
	padding: 4px 0px 4px 3px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #000;
	background-color: rgb(239, 251, 252);
	text-decoration: underline;
}


#logomain
{
	margin: -6px 0 5px 10px;
	display: block;
	height: 136px;
	width: 921px;
	background-image: url(/css/images/logo9.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	position: relative;
}


#logo
{
	text-shadow: -1px 1px 3px #0E2025, -1px 1px 24px #00000C, 0px 2px 1px #136F01;
	padding: 6px 0 0 162px;
	font-size: 156%;
	margin-top: 13px;
	font-weight: bold;
	color: white;
}

#content
{
	padding: 10px 20px;
    /*padding: 20px;*/
}

#sidebar
{
	padding: 0 0 20px 5px;
}

/*#footer
{
	/*background: #d8eefb;*/
	/* background-image: url(/css/images/background-MG.jpg); */
/*	background-position: left bottom;
	background-repeat: repeat;
	margin: 0 auto 10px auto;
	display: block;
	clear: both;
	overflow: visible;
	font-size: 0.8em;
	text-align: center;
	background: rgba(255, 255, 255, 0.64);
	padding-bottom: 20px;
	/*border-radius: 0 0 212px 212px;*/
/*}


#footer h2, #footer h3, #footer h4, #footer h5  {
	color: #1C1661;
}

*/
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 0px 0 15px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.breadcrumbs a
{
	color: #232377;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

 

a.buttA {
	background-position: 0 -60px;
}


a.buttA:hover {
	background-position: 0 0;
}

a.buttB:hover  {
	background: rgba(255, 244, 244, 0.08);
	background-position: 0 -60px;
	box-shadow: 1px 1px 10px black;
	border-radius: 5px;

}

a.buttB {
	background-position: 0 0;
}

.cbuttext {
margin-left: 76px;
padding-top: 19px;
}

a.lic {
	display: block;
	width: 200px;
	padding: 1px;
	text-align: center;
	margin: 10px;
	font-size: 80%;
}

a.lic img:hover {
	-webkit-transform: rotate(1deg) skewX(0deg) scale(1,1);
	transform: rotate(1deg) skewX(0deg) scale(1,1);
}

a.lic img {
	display: block;
	padding-left: 29px;
}

#preview {
	width: 900px;
	padding: 0;
	margin: 0;
}

a.lic:hover{
	box-shadow: 1px 1px 10px 1px gray;
	border-radius: 20px;
}

/*
#fancybox-wrap {
  position: absolute;
  top: 100px !important;
}*/


.sex {
background: rgba(0, 0, 0, 0.2);
text-align: left;
padding-top: 22px;
font-size: 140%;
margin-bottom: 20px;
box-shadow: 1px 10px 20px black;
}
 
#yw {
	height: 270px;
}

.nivoSlider {
height: 201px;
}

 
 .new_but {
 	width: 120px;
 }

 .buttC {
height: 60px;
width: 77px;
margin: 0 0 0 16px;
display: block;
}

.buttCont {
width: 128px;
float: left;
height: 105px;
margin: 6px;
font-size: 8pt;
text-align: center;
}

a.buttCont {
	color: black;
	text-decoration: none;
	box-shadow: 1px 1px 2px gray;
	border: 1px solid white;
	border-radius: 10px;
}
a.buttCont:hover{
	color: black;
	text-decoration: none;
	box-shadow: 1px 1px 5px 3px yellow;
	border: 1px solid #FDFD88;
}

.add_zayav a {
color: #336999 !important;
background-color: #80C4FF;
-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
-moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ #5390C6 0 .1em 3px, #336999 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
display: block;
height: 20px;
margin: 5px;
padding: 5px;
border-top: none;
-webkit-border-radius: 5em / 2em;
-moz-border-radius: 5em / 2em;
border-radius: 5em / 2em;
-webkit-transition: -webkit-border-radius .3s ease-in-out;
-moz-transition: -moz-border-radius .3s ease-in-out;
transition: -moz-border-radius .3s ease-in-out;
text-decoration: none;
font: 15px/1em 'Droid Sans', sans-serif;
font-weight: bold;
text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
display: inline-block;
position: relative;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0.7) )), url(noise.png);
background-image: -moz-radial-gradient(top, ellipse cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url(noise.png);
background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0.7) )), url(noise.png);
-moz-transition: background .2s ease-in-out;
transition: background .2s ease-in-out;
color: #666 !important;
 
-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
-moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;

}

.add_zayav a:hover {
background-color: #A8D7FF;
}

.add_zayav a:active {
background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0) )), url(noise.png);
background-image: -moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0) )), url(noise.png);
background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0) )), url(noise.png);
-webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0, 0, 0, 0.4) 0 .1em 1px, /* border */ rgba(0, 0, 0, 0.2) 0 .2em 6px;
-moz-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0,0,0,0.4) 0 .1em 1px, /* border */ rgba(0,0,0,0.2) 0 .2em 6px;
box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em .3em, /* inner shadow */ rgba(0, 0, 0, 0.4) 0 .1em 1px, /* border */ rgba(0, 0, 0, 0.2) 0 .2em 6px;
-webkit-transform: translateY(.2em);
-moz-transform: translateY(.2em);
transform: translateY(.2em);
}

.add_zayav {
float: right;
}
.viewgroup{
	box-shadow: 1px 1px 7px 2px #C9E0ED;
	background: #FCFCE4;
}
div#map_blind, div.blind_area { 
			background: transparent;
			text-align: left;
			vertical-align: bottom;
			margin: 0; padding: 0;
		}
		p.coords { 
			margin: 0; padding: 0;
			position:absolute; 
			bottom: 2px; 
			left: 8px;
			color: #444; 
			font-family: sans-serif;
			font-size: 12px;
		}
.leftMenu #mainmenu ul li a {
    color: #0099FF;
}
.leftMenu #mainmenu ul li a:hover {
    color: #000000;
}

/* new design */

.header_block{
	width: 1349px;
	margin:0 auto;
	height: 130px;
	background-image: url(/css/newimages/flag.png);
	background-repeat: no-repeat;
	background-position: 480px;
}
.logotype-link{
	float:left;
	padding:10px 0 0 90px;
}
#logotype{
	height: 112px;
	width: 116px;
	background-image: url(/css/newimages/logotype.png);
	background-repeat: no-repeat;
	float:left;
}
.slogan p {
	color:#FFFFFF;
	font-weight: bold;
	margin:0;
}
.slogan-p1{
	padding-top:45px;
	font-size:13px;
}
.slogan-p2{
	padding-top:7px;
	font-size: 17px;
}
.button-kurs{
	background-image: url(/css/newimages/button_write_kurs_normal.png);
	background-repeat: no-repeat;
	background-position:4px 6px;
	height: 73px;
	padding: 5px 5px 10px 5px;
	width: 225px;
	position:relative;
	margin:15px auto;
}
.button-kurs a{
	text-decoration: none;
}
.button-kurs span{
	margin:0px;
	padding:0px;
}
.button-kurs .p1{
	color:#000000;
	font-size: 27px;
	padding-left: 67px;
	padding-top:5px;
	position:absolute;
}
.button-kurs .p2{
	color:#840000;
	font-size: 35px;
	padding-left: 67px;
	position:absolute;
	padding-top: 25px;
}
.button-kurs:hover{
	background-image: url(/css/newimages/button_write_kurs_hover.png);

}
.login-block{
	background-image: url(/css/newimages/login_fon.png);
	background-repeat: no-repeat;
	background-position:0px 0px;
	height: 48px;
	width: 281px;
	position:relative;
	margin:0 0 0 40px;
}
.login-block span{
	float:right;
	padding-top: 15px;
}
a.login-link{
	padding-right: 40px;
	font-size: 12pt;
}
.reg-link{
	font-size: 12pt;
	padding-right: 20px;
}
.left-info {
	padding:5px 0px;
	margin-right: 50px;
}
.left-info > div {
	padding:0px 10px;
}
.left-info a{
	color:#6a6a6a;
	font-size:14pt;
}
.info_fon_top{
	background-image: url(/css/newimages/info-top-fon.png);
	background-repeat: no-repeat;
	background-position:4px 6px;
	padding:0px;
}
.info_all_link a{
	font-size:10pt;
	color:#3f8eb3;
}
.index-text-1{
	margin:15px 10px 0 10px;
	padding:1px;
	background-image: url(/css/newimages/index-top-text-fon.png);
	background-repeat: no-repeat;
	background-position:center bottom;
}
.index-text-1 p{
	font-size:14pt;
	color: #555555;
}
.index-text-2{
	color:#E5FFFF; 
	background-color:#f4fbfd; 
	background-image: -moz-linear-gradient(top, #f4fbfd 0%, #cde4ef 100%); 
	background-image: -webkit-linear-gradient(top, #f4fbfd 0%, #cde4ef 100%); 
	background-image: -o-linear-gradient(top, #f4fbfd 0%, #cde4ef 100%); 
	background-image: -ms-linear-gradient(top, #f4fbfd 0% ,#cde4ef 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbfd', endColorstr='#cde4ef',GradientType=0 ); 
	background-image: linear-gradient(top, #f4fbfd 0% ,#cde4ef 100%);   
}
.index-logo{
	float:right;
	padding: 10px 30px;
}
.index-text-link{
	padding-left:250px; 
}
.index-text-link > ul > li {
	list-style: none;
	background-image: url(/css/newimages/index-logo-link.png);
	background-repeat: no-repeat;
	background-position:0px 5px;
}
.index-text-link > ul > li > a{
	font-size: 16pt;
	color:#146790;
	padding:2px 20px;
}
.attention-logo{
	padding: 85px 30px;
	float: left;
}
.index-text-3{ 
	border:solid 1px #004F72; 
	background-color:#2d81a8; 
	background-image: -moz-linear-gradient(top, #2d81a8 0%, #044a76 100%); 
	background-image: -webkit-linear-gradient(top, #2d81a8 0%, #044a76 100%); 
	background-image: -o-linear-gradient(top, #2d81a8 0%, #044a76 100%); 
	background-image: -ms-linear-gradient(top, #2d81a8 0% ,#044a76 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d81a8', endColorstr='#044a76',GradientType=0 ); 
	background-image: linear-gradient(top, #2d81a8 0% ,#044a76 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;
	height: 235px;
}
.index-text-3 span {
	font-size: 24pt;
	font-weight: bold;
	color: #fff200;
	text-decoration: underline;
}
.index-text-3 p {
	margin: 0;
	font-size: 18pt;
	color: #ffffff;
}
.p-att {
	padding-top: 20px;
}
.a-att{
	text-decoration: none;
	color: #ffffff;
	font-size: 14pt;
}
a.a-att:hover{
	color: #ffffff;
}
.index-delimetr{
	border-bottom: 3px solid #34799b;
	background-image: url(/css/newimages/index-delimetr-1.png);
	background-repeat: no-repeat;
	background-position: center 3px;
}
.index-text-4{
	background-color:#f4fafd; 
	background-image: -moz-linear-gradient(top, #f4fafd 0%, #AEDBEA 100%); 
	background-image: -webkit-linear-gradient(top, #f4fafd 0%, #AEDBEA 100%); 
	background-image: -o-linear-gradient(top, #f4fafd 0%, #AEDBEA 100%); 
	background-image: -ms-linear-gradient(top, #f4fafd 0% ,#AEDBEA 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fafd', endColorstr='#AEDBEA',GradientType=0 ); 
	background-image: linear-gradient(top, #f4fafd 0% ,#AEDBEA 100%);
	position: relative;
	height: 110px;
}
.index-text-4-p {
	position: absolute;
	top:10px;
	left: 25px;
	width: 620px;
}
.index-text-4-p > p {
	font-size: 18pt;
	color: #065983;
}
.index-text-4-a{
	position: absolute;
	bottom: 10px;
	right: 50px;
}
.index-text-4-a a{
	text-decoration: none;
	color: #065983;
	font-size: 14pt;
}
.index-text-4-a a:hover{
	color: #065983;
}
.index-delimetr-2{
	background-image: url(/css/newimages/index-delimetr-1.png);
	background-repeat: no-repeat;
	background-position: center 3px;
}
.news-list{
	 clear: both;
}
.news-list-icon{
	float:left;
	width:240px;
	margin:20px 10px;
}
.news-list-text{
	float:right;
	width:650px;
	margin:5px;
}
.news-list-text h2{
	padding: 0px;
	margin-bottom: 5px;
}
.news-list-text a{
	font-size:18pt;
	color:#3f8eb3;
	text-decoration: none;
	font-weight: bold;
}
.news-list-date{
	text-align: right;
	font-size: 10pt;
	color:#3f8eb3;
}
.news-list-anonce{
	font-size: 14pt;
	color:#6a6a6a;
}
.bottom-content{
	position: absolute;
	bottom: 0px;
	background-image: url(/css/newimages/bottom-main-fon-1.png);
	background-repeat: repeat-x;
	height: 270px;
	width: 100%;
}
.bottom-content-sub{
	position: absolute;
	bottom: 0px;
	right:0px;
	background-image: url(/css/newimages/bottom-main-fon-2.png);
	background-repeat: no-repeat;
	height: 270px;
	width: 100%;
}
.index-news{
	position: relative;
	padding-top: 10px;
}
.index-news h3 {
	position:absolute;
	margin:0px;
	top:5px;
	width:100%;
	z-index: 200;
}
#footer{
	width:100%;
	background-color: #2d2e2f;
}
.footer-sub-1{
	width:1200px;
	margin:0 auto;
}
.footer-conact{
	width: 255px;
}
.footer-conact-title{
	width: 100%;
	padding: 20px 10px 5px 10px;
	font-size: 20pt;
	color: #ffffff;
}
.footer-conact-phone{
	width: 100%;
	padding: 10px;
	font-size: 24pt;
	color: #1a97d6;
}
.footer-conact-fax{
	width: 100%;
	padding: 10px;
	font-size: 17pt;
	color: #1a97d6;
}
.footer-conact p{
	font-size:13pt;
	width: 100%;
	padding: 10px;
	color: #9f9f9f;
	margin: 0;
}
.footer-sub-2{
	width:100%;
	background-color: #28292a;
	border-top: 1px solid #232425;
}
.footer-menu{
	width: 1200px;
	margin: 0 auto;
}
.footer-copyright{
	font-size:13pt;
	color: #9f9f9f;
	padding: 10px;
	float: left;
}
.footer-copyright > span{
	color: #1a97d6;
}
.footer-links{
	padding:10px 0;
	float: right;
}
.footer-links > ul {
	list-style-type: none;
	margin: 0;
}
.footer-links > ul > li {
	display: inline;
	font-size: 11pt;
	color: #3faae0;
	padding: 0 1px;
}
.footer-links > ul > li > a {
	font-size: 11pt;
	text-transform: uppercase;
	color: #3faae0;
	text-decoration: none;
}
.container-sub{
	width:1349px;
	margin: 0 auto;
	position: relative;
}
.oar-map{
	width: 940px;
	padding: 15px 5px 5px 5px;
	background-image: url(/css/newimages/page-fon.png);
	background-repeat: repeat-x;
	background-position:0 bottom;
}
.page-body{
	width: 940px;
	padding: 15px 5px 5px 5px;
	background-image: url(/css/newimages/page-fon.png);
	background-repeat: repeat-x;
	background-position:0 bottom;
}
.history-images{
	text-align: justify;
}
.history-images img{
	border: 2px solid #ffffff;
	box-shadow: 2px 2px 3px #558fac, 0 0 1px #FFFFFF inset;
}
.pager {
	color: #0E509E;
}
.pager .first{
	border: 0px;
}
.hidden a {
	border:0px !important;
}
.next a {
	border:0px !important;
}
.last a {
	border:0px !important;
}
.page a{
	border: 1px solid #0E509E !important;
}
.schema-img{
	width: 700px;
	margin: 0 auto;
}
.schema-img img {
	border: 1px solid #1e729a;
}
.map-img{
	width: 680px;
	margin: 0 auto;
}
.parther-page > ul > li {
    background-image: url("/css/newimages/index-logo-link.png");
    background-position: 0 5px;
    background-repeat: no-repeat;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
	padding: 0 5px;
}
.left-banner{
	text-align: center;
	margin: 5px auto;
	position: relative;
}
/*
.left-banner img{
	box-shadow: 2px 2px 3px #c3c7c8, 0 0 1px #FFFFFF inset;
	-webkit-border-radius:12px;
 	-moz-border-radius:12px; 
 	border-radius: 12px; 
}*/
.button-about{
	background-image: url("/css/newimages/left-menu-fon-top.png");
    background-position: 0 -17px;
    background-repeat: no-repeat;
    height: 60px;
    position:relative;
}
.button-about a{
	font-size: 16pt;
	text-decoration: none;
	position: absolute;
	font-weight:bold;
	left:40px;
	top:5px;
	text-transform: uppercase;
	color: #ffffff;
}

.left_about_menu > ul{
	 padding:0px 0 0 15px;;
	 margin:0px;
}
.left_about_menu > ul > li {
	list-style: none;
	background-image: url(/css/newimages/about-item-fon.png);
	background-repeat: no-repeat;
	background-position:0px 10px;
	padding-left:10px;
	height:35px;
}
.left_about_menu > ul > li > a{
	font-size: 18pt;
	color:#146790;
	text-decoration: none;
}
div.jqueryslidemenu, div.jqueryslidemenu ul{
	position:relative;
}
div.jqueryslidemenu  { float:right; right:50%; margin:0px; width:auto;  }
div.jqueryslidemenu ul { float:none!important; float:left; right:-50%; }
.index-text-notice{
	width:100%;
	background-image: url(/css/newimages/index-logo.png);
	background-repeat: no-repeat;
	background-position:530px 20px;
	padding-bottom: 10px;
}
.index-text-notice p{
	font-size:18pt;
	color:#065983;
	padding: 15px 0 15px 10px;
	width: 600px;
	margin:0px;
}
.a-att-notice{
	color: #065983;
    font-size: 14pt;
    text-decoration: none;
    padding-left: 10px;
}
.a-att-notice:hover{
	color: #065983;
}
.header-contact{
	float: right;
	padding-right: 10px;
	text-align: right;
}
.header-contact p{
	padding: 0;
	margin:0;
}
.header-contact-phone{
	padding-top: 20px !important;
	font-size: 24pt;
	color:#ffffff;
}
.header-contact-fax{
	font-size: 17pt;
	color:#ffffff;
}
.header-contact-text{
	font-size: 10pt;
	color:#ffffff;
}
.list-view .pager {
	z-index:1000;		
}
.index-news .list-view {
	position: relative;
	z-index:400;
}