
#mainmenu ul
{
	
        margin:0px;
        padding:0px;
        width:215px;
}

#mainmenu ul li
{
list-style-type: none;
padding-top:10px;
font-family: Georgia;
font-size: 20px;
}

#mainmenu ul li a
{
	/* color:#000; */
	background-color:transparent;
	text-decoration:none;
        padding-left:20px;
        width:120px;
}
#mainmenu ul li span
{
	/* color:#000; */
	background-color:transparent;
	font-weight:bold;
	text-decoration:none;
        padding-left:20px;
        width:120px;
}

#mainmenu ul span.toggle
{
    
}

#mainmenu ul li.active a
{
    color:black;
    font-weight: bold;
}
#mainmenu ul li a:hover,#mainmenu ul span.toggle:hover
{
	color: #f3b046;
        text-decoration:none;
        
}

#end_mainmenu
{
    padding:0;
    margin:0;
    background:url(main_menu_end.jpg);
    height:18px;
    width:215px;
}

#leftMenu
{
    margin:0;
    padding:0;
    background:url(left_menu_content.jpg)  repeat-y ;

        
}

 #mainmenu ul.subMenu li a
{
    font-size:12px;
    padding-left:25px;
}
 #mainmenu ul.subMenu ul.subMenu li a
{
    font-size:12px;
    padding-left:30px;
}

.toggle
{
    cursor:pointer;    
}
#mainmenu ul span.toggle
{
    width:165px;
    display:inline-block;
}

#mainmenu ul span.toggle_open
{
    background: url(mnu_icon_open.jpg);
    background-repeat: no-repeat;
    background-position: 160px ;
}

#mainmenu ul span.toggle_closed
{
    background: url(mnu_icon_closed.jpg);
    background-repeat: no-repeat;
    background-position: 160px ;
}
