.qq-upload-list {
display: none;
}

.qq-uploader {
	height: 20px;
right: -743px;
top: -32px;
}

.listmy {
text-decoration: none;
color: black;
float: right;

}

.view.listmya a{
text-decoration: none;

}

h2.link {
color: inherit;
display: block;

}

div.listmya {
padding: 10px;
margin: 10px 0;
border: 0;

/*background: url(images/rsz_border.jpg) no-repeat 0 107%;*/

overflow: auto;
}