/* 
    Document   : wmenu
    Created on : 14.10.2012, 9:17:57
    Author     : jedi
    Description:
        Purpose of the stylesheet follows.
*/
/*
#wmenuz {
background: white url(bg.gif) repeat-x left top;
margin-bottom: 10px;
padding-right: 78px;
}

 .specializd {
list-style-type: none;
margin: 0 0.5em 0.5em 0;
padding-left: 0.5em;
}

.specializd li a {
	display: block;
	padding: 5px 0 5px 0;
	text-decoration: none; /* Убираем подчеркивание у ссылок */
/*}
.specializd li a:hover {
	text-decoration: underline; /* Убираем подчеркивание у ссылок */
/*}*/

#wmenuz{
    background-image: url("/css/newimages/main_menu_normal.png");
    background-position: left top;
    background-repeat: repeat-x;
    background-size: auto auto;
    height: 44px;
	width:100%;
	margin: 0 auto;
}
* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
.jqueryslidemenu > ul {
    float: left !important;
    margin: 0;
	padding: 0;
	list-style-type: none;
}
.jqueryslidemenu > ul > li{
	position: relative;
	display: inline;
	float: left;
	border-right: 2px solid #e3e3e3;
}
.jqueryslidemenu > ul > li:first-child{
	border-left: 2px solid #e3e3e3;
}
.jqueryslidemenu > ul > li > a{
	display: block;
	padding: 13px 20px 11px 20px;
	color: #323232;
	font-style: italic;
	font-size:12pt;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	text-transform:uppercase;
	text-decoration: none;
}
.jqueryslidemenu > ul > li:hover {
   	background-image: url("/css/newimages/main_menu_hover.png") !important;
    background-position: left top !important;
    background-repeat: repeat-x !important;
    height: 44px !important;
}

.jqueryslidemenu > ul > li > a:active {
 	-webkit-border-radius:4px;
 	-moz-border-radius:4px; 
 	border-radius: 4px; 
 	color:#EFFFFF; 
 	background-color:#9cd3ed; 
 	background-image: -moz-linear-gradient(top, #9cd3ed 0%, #045983 100%); 
 	background-image: -webkit-linear-gradient(top, #9cd3ed 0%, #045983 100%); 
 	background-image: -o-linear-gradient(top, #9cd3ed 0%, #045983 100%); 
	background-image: -ms-linear-gradient(top, #9cd3ed 0% ,#045983 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd3ed', endColorstr='#045983',GradientType=0 ); 
	background-image: linear-gradient(top, #9cd3ed 0% ,#045983 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

/*1st sub level menu*/
.jqueryslidemenu > ul > li > ul{
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px;  
	background-color:#2d81a8; 
	background-image: -moz-linear-gradient(top, #2d81a8 0%, #065983 100%); 
	background-image: -webkit-linear-gradient(top, #2d81a8 0%, #065983 100%); 
	background-image: -o-linear-gradient(top, #2d81a8 0%, #065983 100%); 
	background-image: -ms-linear-gradient(top, #2d81a8 0% ,#065983 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d81a8', endColorstr='#065983',GradientType=0 ); 
	background-image: linear-gradient(top, #2d81a8 0% ,#065983 100%);   
	-webkit-box-shadow:0px 0px 2px #98a1a6, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #98a1a6,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #98a1a6, inset 0px 0px 1px #ffffff;
	list-style-type: none;
	padding: 0px;
	z-index:100;
	min-width: 255px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu > ul > li > ul > li{
	
	display: list-item;
	float: none;
	margin: 5px;
	padding:5px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu > ul > li > ul > li > ul{
	top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu > ul > li > ul > li > a{
	/*width: 200px; /*width of sub menus*/
	margin: 0;
	border: 0;
	color:#FFFFFF;
	text-decoration: none;
	padding: 2px 0 4px 10px;
	font-size:12pt;
	font-weight: bold;
}

.jqueryslidemenu > ul > li > ul > li:hover{ /*sub menus hover style*/
	background-color: #358EB8 !important;
	-webkit-border-radius:2px;
	-moz-border-radius:2px; 
	border-radius: 2px;
}

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}
.left-menu-block{
	width:385px;
	float:left;
	position: relative;
	z-index: 95;
	background-image: url("/css/newimages/left-fon.png") !important;
    background-position: left top !important;
    background-repeat: no-repeat;
}